<div class="flex flex-col items-center justify-center bg-gray-100 ">
  <div class="flex min-w-1/2 justify-around gap-6 bg-white px-6 rounded-xl shadow-md p-8" style="height: 70vh">
    <div class="flex flex-col items-center justify-around">
      <h2 class="text-2xl text-gray-800 mb-6 text-center">
        Profile
      </h2>

      <%# Profile Photo %>
      <div class="flex justify-center mb-4">
        <% if @profile.photo.attached? %>
          <%= image_tag url_for(@profile.photo), alt: "Profile Photo", class: "w-50 h-50 rounded-full object-cover" %>
        <% else %>
          <div class="w-32 h-32 rounded-full bg-gray-300 flex items-center justify-center text-gray-500">
            No Photo
          </div>
        <% end %>
      </div>

      <%# Basic info %>
      <ul class="space-y-2 text-gray-700">
        <% if @profile.user.applicant? %>
          <li><span class="mr-10">First Name</span>: <%= @profile.first_name %></li>
          <li><span class="mr-10">Last Name</span>: <%= @profile.last_name %></li>
        <% elsif @profile.user.recruiter? %>
          <li><span class="mr-19.5">Name</span>: <%= @profile.company_name %></li>
        <% end %>

        <li><span class="mr-14.5">Industry</span>: <%= @profile.headline.presence || "N/A" %></li>
        <li><span class="mr-14">Location</span>: <%= @profile.location %></li>
        <li><span class="mr-15.5">Contact</span>: <%= @profile.contact %></li>
        <li><span class="mr-20">Email</span>: <%= @profile.user.email %></li>
      </ul>
    </div>
    <% if @profile.user.applicant? %>
      <div>
        <% if @profile.resume.attached? %>
        <embed src="<%= url_for(@profile.resume) %>" type="application/pdf" width="402px" height="100%">
        <% else %>
          Not uploaded
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mt-6 flex gap-7 justify-around">
    <% if @profile.user == current_user %>
      <%= link_to "Edit Profile", edit_profile_path(@profile.user.id), class: "bg-blue-600 text-white py-2 px-4 rounded mt-4 inline-block" %>
    <% end %>
    <%= link_to 'Back', :back, class: "bg-gray-500 bg-gray-700 text-white py-2 px-4 rounded mt-4 inline-block" %>
  </div>
</div>
